<section class="booking_table_area">
  <div class="container">
    <div class="s_white_title">
      <h3><%= t ".book_table" %></h3>
      <h2><%= t ".enjoy_meal" %></h2>
    </div>
    <div class="row">
      <form action="#" >
      <div class="col-sm-3">
        <div class="input-append date form_datetime">
          <div class="party_size">
          <select class="selectpicker" >
            <option>1 people</option>
            <option>2 peoples</option>
            <option>5 peoples</option>
            <option>10 peoples</option>
            <option>20 peoples</option>
            <option>50 peoples</option>
            <option>100 peoples</option>
          </select>
        </div>
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="input-append date form_time">
          <input size="16" type="text" value="" readonly placeholder="Date">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="input-append date form_time">
          <input size="16" type="text" value="" readonly placeholder="Time">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
      </div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-default submit_btn"><%= t "find_table" %></button>
      </div>
      </form>
    </div>
  </div>
</section>

<section class="most_popular_item_area menu_list_page">
  <div class="container">
    <div class="s_white_title">
      <h3 class="red-title"><%= t ".lastest_dishes" %></h3>
      <h2 class="red-title"><%= t ".today_menu" %></h2>
    </div>

    <div class="p_recype_item_main">
      <div class="row p_recype_item_active">
        <% if @lastest_dishes.present? %>
          <% @lastest_dishes.each do |dish| %>
            <%= render "dish_lastest", dish: dish %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="most_popular_item_area">
  <div class="container">
    <div class="s_white_title">
      <h3><%= t ".popular_dishes" %></h3>
      <h2><%= t ".today_menu" %></h2>
    </div>

    <div class="p_recype_item_main">
      <div class="row p_recype_item_active">
        <% if @popular_dishes.present? %>
          <% @popular_dishes.each do |dish| %>
            <%= render "dish_popular", dish: dish %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
