<div class="col-md-4 col-sm-6 break snacks">
  <div class="feature_item">
    <div class="feature_item_inner">
      <%= show_table_image table %>
      <div class="icon_hover">
        <i class="search-table"><%= link_to t("reserve"), table %></i>
      </div>
    </div>
    <div class="title_text">
      <div class="feature_left">
        <%= link_to table do %>
          <%= t("table") +" "+ table.id.to_s %>
        <% end %>
      </div>
      <div class="restaurant_feature_dots"></div>
      <div class="feature_right"><%= currency_format table.price %></div>
    </div>
  </div>
</div>
