<div class="col-md-4 col-sm-6 break snacks">
  <div class="feature_item">
    <div class="feature_item_inner">
      <%= show_image dish %>
      <div class="icon_hover">
        <%= link_to dish_path(id: dish.id) do %>
          <i class="fa fa-search"></i>
        <% end %>
        <%= link_to booking_details_path(dish_id: dish.id),
          method: :post do %>
          <i class="fa fa-shopping-cart"></i>
        <% end %>
      </div>
    </div>
    <div class="title_text">
    <div class="feature_left">
      <%= link_to dish_path(id: dish.id) do %>
        <span><%= dish.name %></span>
      <% end %>
    </div>
      <div class="restaurant_feature_dots"></div>
      <div class="feature_right"><%= currency_format dish.price %></div>
    </div>
  </div>
</div>
