<section class="most_popular_item_area menu_list_page">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <aside>
          <div class="news-menu list-group">
            <div class="menu-left-title">
              <strong><%= t ".menu" %></strong>
            </div>
            <ul class="nav cssmenu">
              <% if @categories %>
              <% @categories.each do |category| %>
                <% active = (category.slug.to_s == params[:id].to_s) ? "active" : "" %>
                <li class="<%= active %>">
                  <%= link_to category.name, category %>
                </li>
              <% end %>
            <% end %>
            </ul>
          </div>

          <div class="sidebar_price list-group">
            <div class="menu-left-title">
              <strong><%= t ".price_range" %></strong>
            </div>
            <section class="range-slider text-center">
              <%= text_field_tag("",
                (params[:min_price] ? params[:min_price] : Settings.dish.price_range.min_price),
                {min: Settings.dish.price_range.min_price,
                  max: Settings.dish.price_range.max_price,
                  step: Settings.dish.price_range.step_num,
                  type: :range, class: "click-filter"})%>
              <%= text_field_tag("",
                (params[:max_price] ? params[:max_price] : Settings.dish.price_range.max_price),
                {min: Settings.dish.price_range.min_price,
                  max: Settings.dish.price_range.max_price,
                  step: Settings.dish.price_range.step_num,
                  type: :range, class: "click-filter"})%>
              <br><br><br><span class="rangeValues"></span>
            </section>

          </div>
        </aside>
      </div>

      <div class="col-sm-9">
        <div class="filter_bar">
          <%= form_tag category_path(params[:id]), :method => :get,
            enforce_utf8: false, class: "form-inline",
            id: "filter_form" do %>

            <div class="form-group">
              <%= select_tag(:sort_by, options_for_select([
                  [t(".price_asc"), :price_asc],
                  [t(".price_desc"), :price_desc],
                  [t(".name_asc"), :name_asc],
                  [t(".name_desc"), :name_desc],
                  [t(".newset"), :newest],
                  [t(".oldest"), :oldest]
                ], selected: (params[:sort_by] ? params[:sort_by] : :newest) ), class: "form-control click-filter") %>
            </div>

            <div class="form-group">
              <%= label_tag "tendency[]", t(".best_5_selling"), class: "form-control control-label"  %>
              <%= check_box_tag "tendency[]", :most_popular_dishes,
                params[:tendency] == "most_popular_dishes" ? true : false,
                {class: "form-control check-filter hiddens"} %>
            </div>

            <div class="form-group">
              <%= label_tag "tendency[]", t(".top_5_rating"), class: "form-control control-label"  %>
              <%= check_box_tag "tendency[]", :top_rating,
                params[:tendency] == "top_rating" ? true : false,
                {class: "form-control check-filter hiddens"} %>
            </div>

            <%= hidden_field_tag :min_price,
              (params[:min_price] ? params[:min_price] : Settings.dish.price_range.min_price),
              class: "form-control", id: "range_min_price" %>
            <%= hidden_field_tag :max_price,
              (params[:max_price] ? params[:max_price] : Settings.dish.price_range.max_price),
              class: "form-control", id: "range_max_price" %>

          <% end %>
        </div>

        <div class="p_recype_item_main">
          <div class="row p_recype_item_active">
            <% if @dishes %>
              <% @dishes.each do |dish| %>
              <div class="col-md-6 cate_item">
                <div class="media">
                  <div class="media-left">
                    <%= dish_image dish %>
                  </div>
                  <div class="media-body">
                    <%= link_to dish do %>
                      <h3><%= dish.name.truncate(Settings.dish.name.short) %></h3>
                    <% end %>
                    <h4><%= format_currency dish.price.to_i %></h4>

                    <p><%= truncate_html dish.description, Settings.dish.word_length %></p>
                    <%= link_to t(".add_to_cart"),
                      booking_details_path(dish_id: dish.id),
                      method: :post, class: "read_mor_btn" %>
                    <ul>
                    <% Settings.dish.max_rate_point.times do |time| %>
                      <% if time <= dish.rate_avg.round(0) %>
                        <li><a><i class="fa fa-star"></i></a></li>
                      <% else %>
                        <li><a><i class="fa fa-star black"></i></a></li>
                      <% end %>
                    <% end %>
                    </ul>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="col-sm-6 pull-right">
          <%= paginate @dishes, theme: "twitter-bootstrap-3" %>
        </div>
      </div>




    </div>
  </div>
</section>
