<section class="most_popular_item_area menu_list_page">
  <div class="container">
    <div class="row">

      <div class="col-sm-2 filter_sidebar">
        <%= form_tag category_path(params[:id]), :method => :get,
        class: "text-center" do %>

          <div class="form-group">
            <%= select_tag(:sort_by, options_for_select([
                [t(".best_selling"), :most_popular_dishes],
                [t(".price_asc"), :price_asc],
                [t(".price_desc"), :price_desc],
                [t(".name_asc"), :name_asc],
                [t(".name_desc"), :name_desc],
                [t(".newset"), :newest],
                [t(".oldest"), :oldest]
              ], selected: (params[:sort_by] ? params[:sort_by] : :most_popular_dishes) ), class: "form-control") %>
          </div>

          <div class="form-group">
            <section class="range-slider">
              <span><%= t ".price_range" %></span><span class="rangeValues"></span>
              <%= text_field_tag("",
                (params[:min_price] ? params[:min_price] : Settings.dish.price_range.min_price),
                {min: Settings.dish.price_range.min_price,
                  max: Settings.dish.price_range.max_price,
                  step: Settings.dish.price_range.step_num,
                  type: :range})%>
              <%= text_field_tag("",
                (params[:max_price] ? params[:max_price] : Settings.dish.price_range.max_price),
                {min: Settings.dish.price_range.min_price,
                  max: Settings.dish.price_range.max_price,
                  step: Settings.dish.price_range.step_num,
                  type: :range})%>
            </section>
          </div>

          <%= text_field_tag :id, params[:id], class: "form-control", type: :number %>
          <%= text_field_tag :min_price,
            (params[:min_price] ? params[:min_price] : Settings.dish.price_range.min_price),
            class: "form-control", id: "range_min_price", type: :number  %>
          <%= text_field_tag :max_price,
            (params[:max_price] ? params[:max_price] : Settings.dish.price_range.max_price),
            class: "form-control", id: "range_max_price", type: :number %>

          <%= submit_tag "filter de",id: "submit-filter", class: "btn hiddens" %>
        <% end %>
      </div>

      <div class="col-sm-10">
        <div class="popular_filter">
          <ul>
            <li class="active" data-filter="all">
              <%= link_to t(".all"), category_path(id: "all") %>
            </li>
            <% if @categories %>
              <% @categories.each do |category| %>
              <li data-filter=".cate_<%= category.id %>">
                <%= link_to category.name, category %>
              </li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="p_recype_item_main">
          <div class="row p_recype_item_active">
            <% if @dishes %>
              <% @dishes.each do |dish| %>
              <div class="col-md-6 cate_1">
                <div class="media">
                  <div class="media-left">
                    <%= dish_image dish %>
                  </div>
                  <div class="media-body">
                    <a href="#"><h3><%= dish.name %></h3></a>
                    <h4><%= format_currency dish.price.to_i %></h4>
                    <%= truncate_html dish.description, Settings.dish.word_length %>
                    <a class="read_mor_btn" href="#"><%= t ".add_to_cart" %></a>
                    <ul>
                    <% Settings.dish.max_rate_point.times do |time| %>
                      <% if time <= dish.rate_avg.round(0) %>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                      <% else %>
                        <li><a href="#"><i class="fa fa-star black"></i></a></li>
                      <% end %>
                    <% end %>
                    </ul>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="col-sm-6 pull-right">
          <%= paginate @dishes, theme: "twitter-bootstrap-3" %>
        </div>
      </div>

    </div>
  </div>
</section>
